@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background-color: #000;
  color: #fff;
  font-size: 15px;
  min-height: 100%;
  padding: 5px;
  font-family: 'Manrope', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
  display: block;
}

nav ul li {
  background-color: #CECECE;
  border-bottom: 1px solid #000;
  display: none;
  padding: 5px
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.open li {
  display: block;
}

.container  {
  padding: 0px 20px;
}

section  {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

section ol  {
  padding-left: 20px;
}

h1  {
  margin: 10px;
}

h2  {
  margin: 10px;
}

h3  {
  margin: 5px;
}

p {
  margin: 10px 0;
}

.title  {
  font-size: 20px;
  margin: 10px 0;
  /* font-family: 'Titan One', cursive; */
  font-family: 'Rammetto One', cursive;
  /* font-family: 'Spicy Rice', cursive; */
}

.notes  {
  background-color: #67270F;
}

.questions  {
  background-color: #0F3B67;
}

.odd  {
  background-color: #0F6763;
}

.even  {
  background-color: #340F67;
}

button  {
  cursor: pointer;
  background-color: khaki;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

footer  {
  margin: auto;
  padding: 10px 0;
  text-align: center;
}